* {
    background-color: rgba(0, 0, 0, 0);
}

.bar {
    background-color: gray;
    /* margin-top: 0.25rem;
    margin-bottom: 0.125rem;
    margin-left: 0.125rem;
    margin-right: 0.125rem; */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 4px;
}

label {
    color: white;
}


.middle, .right {
    border-radius: 4px;
    background-color: slategray;
    padding: 4px;
}
